.home-container {
    color: var(--text-color);
    box-sizing: border-box;
    padding: 5% 10% 0;
    line-height: 2;
}

.home-container> h1 {
    margin-top: 0;
    margin-bottom: 5%;
}

.home-container> p {
    font-size: 1.25rem;
}